/*Main column width*/

.wp-block {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    max-width: 795px;
}

/*Width of "wide" blocks*/

.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/*Width of "full-wide" blocks*/

.wp-block[data-align="full"] {
    max-width: none;
}